.github/workflows/workflows/n8n-pmqs-webhook-workflow.json
{
  "name": "PMQs Briefing — Webhook + Tavily + GPT-4.1",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "pmqs-brief",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "name": "Webhook — /pmqs-brief",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "id": "node-webhook",
      "webhookId": "pmqs-brief"
    },
    {
      "parameters": {
        "url": "https://api.tavily.com/search",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer YOUR_TAVILY_API_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": {{ JSON.stringify($json.body.question) }},\n  \"search_depth\": \"advanced\",\n  \"max_results\": 6,\n  \"include_domains\": [\"gov.uk\", \"parliament.uk\", \"bbc.co.uk\", \"theguardian.com\", \"ons.gov.uk\", \"nhs.uk\", \"reuters.com\", \"ft.com\"]\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "name": "Tavily — Research Question",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [480, 300],
      "id": "node-tavily"
    },
    {
      "parameters": {
        "jsCode": "// Merge webhook input + Tavily results into one clean object\nconst webhook = $('Webhook — /pmqs-brief').first().json.body;\nconst tavily  = $input.first().json;\n\nconst results = tavily.results || [];\n\n// Format Tavily results as readable context\nconst context = results.map((r, i) =>\n  `[Source ${i+1}] ${r.title}\\nURL: ${r.url}\\nContent: ${(r.content || '').substring(0, 700).trim()}...`\n).join('\\n\\n---\\n\\n');\n\n// Build source list for the prompt\nconst sourceList = results\n  .map(r => `${r.title} — ${r.url}`)\n  .join('\\n');\n\nreturn [{\n  json: {\n    question:     webhook.question     || '',\n    mp_name:      webhook.mp_name      || 'Unknown MP',\n    constituency: webhook.constituency || 'Unknown constituency',\n    party:        webhook.party        || 'Unknown party',\n    domain:       webhook.domain       || 'Other',\n    priority:     webhook.priority     || 'Normal',\n    context,\n    sourceList\n  }\n}];"
      },
      "name": "Prepare Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 300],
      "id": "node-prep"
    },
    {
      "parameters": {
        "resource": "chat",
        "model": "gpt-4.1",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are a senior government briefing officer at No.10 Downing Street preparing real-time intelligence briefs for the Prime Minister ahead of Prime Minister's Questions (PMQs) in the UK House of Commons.\n\nYour briefs are classified RESTRICTED and are for the PM's eyes only before they stand at the despatch box.\n\nYou must return your briefing in EXACTLY this plain-text format with these exact headings — no markdown, no JSON, no asterisks, no bullet symbols other than plain hyphens:\n\nTHREAT ASSESSMENT\n[2-3 sentences assessing how dangerous this question is politically, what trap the MP may be setting, and what the PM must avoid]\n\nSUGGESTED PM RESPONSE\n[A complete, fluent, PM-style answer of 4-6 sentences. Factual, confident, cites sources where possible. Do not start with 'I'. Start with 'Mr Speaker' or a direct assertion.]\n\nLINES TO TAKE\n- [First line to take]\n- [Second line to take]\n- [Third line to take]\n- [Fourth line to take]\n\nLINES TO AVOID\n- [First thing NOT to say]\n- [Second thing NOT to say]\n- [Third thing NOT to say]\n\nKEY FACTS\n- [Statistic or fact with source]\n- [Statistic or fact with source]\n- [Statistic or fact with source]\n- [Statistic or fact with source]\n\nCONFIDENCE SCORE: [number 0-100 — how well the research supports this briefing]\n\nFOI RISK: [High|Medium|Low] — [one sentence explaining the FOI exposure if any]\n\nDOMAIN: [single domain e.g. NHS, Economy, Defence, Crime, Housing etc]\n\nSOURCES\n- [Source title — URL]\n- [Source title — URL]\n- [Source title — URL]\n\nDo not deviate from this format. Do not add extra sections. Do not use markdown formatting. Do not use ** or ## or bullet symbols other than hyphens."
            },
            {
              "role": "user",
              "content": "=Generate a PMQs intelligence brief for the following:\n\nMP: {{ $json.mp_name }} ({{ $json.party }}, {{ $json.constituency }})\nPriority: {{ $json.priority }}\nDomain: {{ $json.domain }}\n\nQUESTION:\n{{ $json.question }}\n\n--- RESEARCH RESULTS (Tavily) ---\n{{ $json.context }}\n--- END RESEARCH ---\n\nAvailable sources:\n{{ $json.sourceList }}\n\nGenerate the full briefing now in the exact format specified."
            }
          ]
        },
        "options": {
          "temperature": 0.3,
          "maxTokens": 1200
        }
      },
      "name": "GPT-4.1 — Generate Briefing",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1,
      "position": [960, 300],
      "id": "node-gpt"
    },
    {
      "parameters": {
        "jsCode": "// Extract GPT output text and wrap for webhook response\nconst raw = $input.first().json;\n\n// Handle different OpenAI response shapes\nlet briefingText = '';\nif (raw.message?.content) {\n  briefingText = raw.message.content;\n} else if (raw.choices?.[0]?.message?.content) {\n  briefingText = raw.choices[0].message.content;\n} else if (typeof raw === 'string') {\n  briefingText = raw;\n} else {\n  briefingText = JSON.stringify(raw, null, 2);\n}\n\nreturn [{\n  json: {\n    output: briefingText.trim()\n  }\n}];"
      },
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 300],
      "id": "node-format"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1440, 300],
      "id": "node-respond"
    }
  ],
  "connections": {
    "Webhook — /pmqs-brief": {
      "main": [[{ "node": "Tavily — Research Question", "type": "main", "index": 0 }]]
    },
    "Tavily — Research Question": {
      "main": [[{ "node": "Prepare Context", "type": "main", "index": 0 }]]
    },
    "Prepare Context": {
      "main": [[{ "node": "GPT-4.1 — Generate Briefing", "type": "main", "index": 0 }]]
    },
    "GPT-4.1 — Generate Briefing": {
      "main": [[{ "node": "Format Response", "type": "main", "index": 0 }]]
    },
    "Format Response": {
      "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "timezone": "Europe/London",
    "saveManualExecutions": true,
    "executionOrder": "v1"
  },
  "tags": ["no10", "pmqs", "webhook", "gpt-4.1", "tavily", "live"]
}
